* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

body {
  background-color: #333333;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 30px;
  /*flex-wrap: wrap;*/
}

/* ---------------------------*/
/* Seccion Lateral Izquierdo */
/* ---------------------------*/
.sideLeft {
  width: 459px;
  height: 690px; /*860px*/
  background-color: #1e213a;
  /* background-image: url('./img/Cloud-background.png'); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgBackground_sideLeft {
  margin-top: 100px;
  width: 459px;
  height: auto; 
}

.imgBackground_sideLeft > img {
  width: 100%;
  height: auto;
  opacity: 0.05;
  object-fit:cover;
}

.otherLocations {
  padding-top: 42px;
  padding-left: 50px;
}

.sectionSearchLocation {
  width: 450px;
  height: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.btnSearchLocation {
  width: 161px;
  height: 40px;
  font-size: 16px;
  background-color: #6e707a;
  color: white;
  box-shadow: #000000 25%;
}

.myLocation {
  padding-top: 42px;
  padding-right: 40px;
}

.btnMyLocation {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #6e707a;
  box-shadow: #000000 25%;
  border: none;
  border-radius: 25px;
}

/* ------------ */
/* SIDE BAR*/
/* ------------ */
.sidebar {
  position:absolute;
  z-index:1;
  margin-top: 0px;
  background-color: #1E213A;
  color: #E7E7EB;
  /* background-color: red; */
  width: 459px;
  height: 690px;
  /* margin-left: -100%; */
  animation: movingIn 0.8s ease;
}

@keyframes movingIn {
  from{transform: transtaleX(50px); opacity: 0;}
  to{transform: transtaleX(0px); opacity: 1;}
}

.sidebar li {
  list-style: none;
  padding: 0.5rem 1rem;
  margin: 10px 20px;
  border: solid rgba(255, 255, 255, 0.1) 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}

.sidebar li:hover{
  background-color: #fff;
  color: #1E213A;
}

.sidebar--open{
  /* margin-left: 0%; */
}

.closeSideBar {
  justify-content: right;
  text-align: right;
  left: -100%;
}

.closeSideBar button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #E7E7EB;
  background-color: #1E213A;
  box-shadow: #000000 25%;
  border: none;
  margin: 10px 20px;
}

.formSearchLocation{
  width: 95%;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.inputSearchLocation {
  width:65%;
  height: 2.4em;
  padding:3px 10px;
  border:1px solid #f6f6f6;
  border-radius:.375em;
  background-color:#f6f6f6;
  margin:8px 0;
  display:inline-block;
  text-align: center;
}

#btnSearch {
  align-items: center;
  appearance: none;
  background-color: #6e707a;
  border: 1px solid #6e707a;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  width: 20%;
  height: 2.4em;
  justify-content: center;
  line-height: 1;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin:8px 0;
  margin-top: 8px;
  margin-left: 4px;
}

.imgTimeStatus {
  position: absolute;
  width: 230px; /*450px;*/
  height: 234x; /*234px;*/
  margin-top: 100px; /*calc(181px - 50px); */
  display: flex;
}

.imgTimeStatus > img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Es para ajustar la calidad de la imagen REDIMENSIONAR*/
}

/* Temperatura Actual -> TEXT */
.statusTemperature {
  position: absolute; /*Me permite tener el Margin-Top Real de la vista web sin depender de los padres*/
  width: 450px;
  height: 180px;
  margin-top: 320px; /*calc(430px - (181px + 234px));*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusTemperature > h1 {
  height: 169.06px;
  gap: 20px;
  font-size: 144px;
  color: white;
}

.statusTemperature > h4 {
  height: 56.35px;
  padding-top: 30px;
  font-size: 48px;
  color: #A09FB1;
}

/* Condicion de Clima Actual -> TEXT */
.statusClima{
  position: absolute;
  width: 450px;
  height: 40px;
  margin-top: 530px; /*30px;*/
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.statusClima > h3 {
  width: 100%;
  height: 42.26px;  
  font-size: 36px;
  color: #A09FB1;
}

/* Fechador -> TEXT */
.txtDate {
  position: absolute;
  width: 450px;
  height: 25px;
  margin-top: 610px; /*40px;*/
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.txtDate > h3 {
  width: 100%;
  height: 21.13px;
  font-size: 18px;
  color: #88869D;
}

/* Localizacion -> TEXT */
.txtLocation {
  position: absolute;
  width: 450px;
  height: 25px;
  margin-top: 635px; /*40px;*/
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.txtLocation > h3 {
  width: 100%;
  height: 21.13px;
  font-size: 18px;
  color: #88869D;
}


/* ---------------------------*/
/* Seccion Principal */
/* ---------------------------*/
.sidePrincipal {
  width: 981px;
  height: auto; /*860px*/
  padding-left: 80px;
  padding-right: 80px;
  background-color: #100e1d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidePrincipal > h1 {
  color: white;
}

.sectionSelector_CelciusFahrenheit {
  width: 100%;
  height: auto;
  margin-top: 42px;
  display: flex;
  text-align: right;
  justify-content: right;
  align-items: center;
  padding-right: 30px;
}

.sectionCelcius {
  margin-top: 0px;
  padding-right: 20px;
}

.btnSectionCelcius {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: #000000 25%;
  border: none;
  border-radius: 25px;
}

.sectionCelcius > button > h3 {
  color: black;
  margin-top: 4px;
}

.sectionFahrenheit {
  margin-top: 0px;
  padding-right: 20px;
}

.btnSectionFahrenheit {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #6e707a;
  box-shadow: #000000 25%;
  border: none;
  border-radius: 25px;
}

.sectionFahrenheit > button > h3 {
  color: white;
  margin-top: 4px;
}

/*  SECTION PRONOSTIC  */
.sectionPronostico {
  width: 800px;
  height: 180px;
  margin-top: 10px;
  margin-right: 20px;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  background-color: #100E1D;
  gap: 0.4rem;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* .divCards {
  position: relative;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 30 0;
  min-width: 50vw;
} */

.pronosticCards{
  padding: 5px 10px;
  width: 120px;
  height: 177px;
  background-color: #1E213A;
  color: #E7E7EB;
  text-align: center;
  align-items: center;
}

.pronosticCards > img {
  width: 100%;
  height: auto;
  margin-left: 0;
}

.pronosticCards > h5{
  font-size: 30px;
}

.seccionHightlightsText {
  margin-top: 20px;
  color: white;
  text-align: left;
}

.HightlightsText{
  font-size: 24px;
  text-align: left;
  justify-content: left;
}

/*  SECTION PRONOSTIC  */
.cardsHightlightsTemperature{
  gap: 1.3rem;
  display: flex;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

/*  SECTION WIND  */
.sectionWind {
  position: relative;
  width: 390px;
  height: 180px;
  margin-left: 0px;
  background-color: #1E213A;
  gap: 20px;
}

.sectionWind > h1 {
  padding-top: 15px;
  color: #E7E7EB;
  font-size: 16px;
}

/*  SECTION HUMIDITY */
.sectionHumidity {
  position: relative;
  width: 390px;
  height: 180px;
  margin-left: 0px;
  background-color: #1E213A;
  gap: 20px;
}

.sectionHumidity > h1 {
  padding-top: 15px;
  color: #E7E7EB;
  font-size: 16px;
}

.percentText{
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  color: #A09FB1;
  font-size: 12px;
}

.percentText2{
  display: flex;
  justify-content: right;
  margin-top: -12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #A09FB1;
  font-size: 12px;
}

.animated-progress {
  width: auto;
  height: 10px;
  border-radius: 5px;
  margin: 20px 10px;
  margin-top: -10px;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  justify-content: center;
  text-align: center;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  text-align: end;
  padding-right: 5px;
}

.progress-blue span {
  background-color: #FFEC65;
}

/*  SECTION VISIBILITY  */
.sectionVisibility {
  position: relative;
  width: 390px;
  height: 100px;
  margin-left: 0px;
  background-color: #1E213A;
  gap: 20px;
}

.sectionVisibility > h1 {
  padding-top: 10px;
  color: #E7E7EB;
  font-size: 16px;
}

/*  SECTION AIR PRESSURE  */
.sectionPressure {
  position: relative;
  width: 390px;
  height: 100px;
  margin-left: 0px;
  background-color: #1E213A;
  border: 20px;
}

.title > h1 {
  padding-top: 10px;
  color: #E7E7EB;
  font-size: 16px; 
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -13px;
}

.description > h2 {
  padding-top: 0;
  font-size: 64px;
  width:fit-content;
  color: #E7E7EB;
}

.description > h3 {
  padding-top: 0;
  font-size: 36px;
  width: fit-content;
  color: #E7E7EB;
}

/*  SECTION FOOTER AREA PRINCIPAL  */
.sectionFooter > h5 {
  padding-top: 20px;
  padding-right: 20px;
  color: #A09FB1;
  font-size: 14px;
}